.export-buttons {
      margin-top: 20px;
      text-align: center;
    }

button {
      background-color: #44bd32;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 10px;
      cursor: pointer;
      margin-left: 10px;
      transition: background 0.3s;
    }

button:hover {
      background-color: #4cd137;
    }